<article class="card">
  <div class="media">
    @if (species().imageUrl) {
      <img class="media-image" [ngSrc]="species().imageUrl!" width="400" height="300" alt="" />
    } @else {
      <div class="media-image media-image--placeholder" aria-hidden="true"></div>
    }

    <div class="media-caption">
      <p class="title">{{ species().scientificName }}</p>
      <p class="subtitle">{{ species().commonName }}</p>
    </div>
  </div>

  <div class="body">
    <dl class="taxonomy">
      <div>
        <dt class="glob-sr-only">Embranchement</dt>
        <dd>{{ species().embranchement }}</dd>
      </div>
      <div>
        <dt class="glob-sr-only">Classe</dt>
        <dd>{{ species().classe }}</dd>
      </div>
      <div>
        <dt class="glob-sr-only">Ordre</dt>
        <dd>{{ species().ordre }}</dd>
      </div>
    </dl>

    <p class="glob-callout glob-callout--{{ vulnerabilityTone() }}">{{ vulnerabilityLabel() }}</p>
  </div>
</article>
